/*modal transition*/
.ReactModal__Content {
  transition: opacity 500ms ease-in-out;
  opacity: 0;

  &--after-open {
    opacity: 1;
  }
}

.Modal{
  direction: rtl;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  //height: 85%;
  max-height: 95vh;
  overflow-y: auto;
  width:  90%;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 10px 10px;
  border-radius:  15px;
  outline: 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px inset #f95d49;

  & header.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4em;
    color: #f95d49;
    font-weight: 600;
    margin-bottom: 20px;

    & .left{
      margin-right: auto;
    }
  }

  & form {
    direction: rtl;

    & header{
      background: #ebebeb;
      color: black;
      margin: 10px -10px;
      padding: 4px;
    }
    & .field{
      margin-top: 5px;
      & > div:first-child{
        font-size: 0.8em;
        padding: 5px 0px;
      }

      & input{
        width: 100%;
        border: 0px;
        border-bottom: 2px solid #f95d49;
        outline: 0px;
        font-size: 1em;

        &.ltr{
          direction: ltr;
          text-align: left;
        }
      }
    }

    & footer{
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: row;

      & div{
        width: 100%;
        text-align: center;
        & button{
          background: transparent;
          border: 0px;
          color: #f95d49;
          font-size: 1.2em;
          font-weight: bold;
        }
      }
    }
  } //end of form
}
