@import url('https://fonts.googleapis.com/css?family=Pacifico|Shadows+Into+Light|satisfy|Pinyon+Script');
.SideMenu{
  $trans-duration: 1s;
  $mainColor: #acacac;

  &.hidden{
    & .overlay{
      visibility: hidden;
      transition: visibility $trans-duration;
    }
    & main{
      width: 0px;
      overflow: hidden;
      transition: width $trans-duration;
    }
  }

  & .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
  }
  & main{
    position: absolute;
    width: 80%;
    transition: width $trans-duration;
    height: 100%;
    background: #fff;
    z-index: 3;
    color: $mainColor;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    & .toggler{
      display: none;
      position: absolute;
      left: 5px;
      top: 5px;
      //color: #000;
      cursor: pointer;
    }
    & .profile{
      width: 100%;
      height: 30%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & img{
        border-radius: 50px;
        margin-bottom: 10px;
      }
      & .username{
        color: #f95d49;
      }
      & .hr{
        width: 80%;
        border-bottom: 1px solid $mainColor;
        position: absolute;
        bottom: 0px;
      }
    } //end of profile

    & > menu{
      &.hidden{display: none}

      & > .row{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 25px;
        margin-right: -10px;

        & .icon{
          margin-left: 15px;
          & > svg{
            font-size: 1.3em;
          }
          &.notifications{
            position: relative;
            & > .badger{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              position: absolute;
              width: 16px;
              height: 16px;
              border-radius: 50px;

              color: white;
              background: #f95d49;
              font-size: 0.4em;
              top: -2px; left: 17px;
            }

            & > .counter{
              position: absolute;
              right: 10px; top: 5px;
              font-size: 0.7em;
            }
          }
        }
      }
    }
    & > footer{
      position: absolute;
      bottom: 0px;
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #f95d49;
      color: white;
      font-family: 'Pacifico', cursive;
      font-size: 1.2em;
    }
  }
}
