.DataListAPI{
  & .options{
    & .option{
      text-align: right;
      direction: rtl;
      padding: 5px;

      &.english{
        text-align: left!important;
        direction: ltr;
      }
    }
  }
}
