.Product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  cursor: pointer;

  &.checked{text-decoration: line-through;}

  &:first-child{margin-top: -12px;}
  &{border-bottom: 1px solid #eee;}

  & .product{
    margin-right: 5px;
    & .name{
      
    }
    & .memo{
      color: #aaa;
    }
    & .quantity{
      margin-right: 5px;
    }
  }

  & .options{
    margin-right: auto;
  }
}
