.SharedList{
  main{
    margin-top: -20px;

    & > .title{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 1em;
      & .topic{
        & .secondary{
          color: #aaa;
        }
      }
      & .at{
        width: 20%;
        text-align: left;
      }
    }
    & > .img{
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & > svg.Icon{
        font-size: 8em;
      }
    }
    & > .question{
      text-align: center;
      font-size: 1.4em;
      color: #f95d49;
    }
  }
}
